In [ ]:
import pandas as pd

In [ ]:
pip install openml

In [ ]:
import openml

In [ ]:
dataset = openml.datasets.get_dataset(1590)

In [ ]:
df, _, _, _ = dataset.get_data(dataset_format="dataframe")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe(include="all")

In [ ]:
pip install mito mitosheet

In [ ]:
import mito
import mitosheet

In [ ]:
mitosheet.sheet(df, analysis_to_replay="id-tmzhfdxemy")

In [ ]:
from mitosheet.public.v2 import *; register_analysis("id-tmzhfdxemy");

# Filtered education-num
df = df[df['education-num'] > 12]

# Sorted education-num in ascending order
df = df.sort_values(by='educatoin-num', ascending=True, na_position='first')

# Added column new-column-6qhq
df.insert(15, 'new-column-6qhq', 0)

# Renamed columns higher edu
df.rename(columns={'new-column-6qhq': 'higher edu'}, inplace=True)

# Set formula of higher edu at rows {'[0]'}
df.loc[[0], ['higher edu']] = 0

# Set formula of higher edu
df['higher edu'] = IF(df['education-num'] > 13, 1, 0)

# Pivoted df into df_pivot
tmp_df = df[['age', 'class', 'sex']].copy()
pivot_table = tmp_df.pivot_table(
    index=['sex'],
    columns=['class'],
    values=['age'],
    aggfunc={'age': ['mean']}
)
pivot_table.set_axis([flatten_column_header(col) for col in pivot_table.keys()], axis=1, inplace=True)
df_pivot = pivot_table.reset_index()

# Sorted education-num in ascending order
df = df.sort_values(by='education-num', ascending=True, na_position='first')

# Sorted education-num in ascending order
df = df.sort_values(by='education-num', ascending=True, na_position='first')

# Sorted education-num in ascending order
df = df.sort_values(by='education-num', ascending=True, na_position='first')

# Formatted dataframes. View these styling objects to see the formatted dataframe
df_styler = df.head(1500).style\
    .format("{:.1f}", subset=['capital-gain'])

In [ ]:
df['higher edu'] = IF(df['education-num'] > 13, 1, 0)